@import url(http://fonts.googleapis.com/css?family=Iceland);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(24, 24, 24, .5);
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#digital_clock {
    font-family: "Iceland";
    font-size: 25px;
    line-height: 23px;
    margin-top: 9px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

#yukarin_serif {
    font-family: "Noto Sans Japanese",serif;
    font-size: 15px;
    line-height: 20px;
    margin-top: 9px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}
