@import url(http://fonts.googleapis.com/css?family=Iceland);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(24, 24, 24, .5);
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

button {
    margin-top: 10px;
    font-family: "Iceland";
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #696969;
    background: -moz-linear-gradient(
            top,
            #c0c0c0 0%,
            #808080 100%);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#c0c0c0),
            to(#808080));
    background:linear-gradient(
            top,
            #c0c0c0 0%,
            #808080 100%);
}

#todos {
    font-family: "Noto Sans Japanese",serif;
    font-size: 15px;
    padding-bottom: 4px;
    line-height: 20px;
    margin-top: 9px;
    margin-left: 10px;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

#buttons {
    text-align: center;
    vertical-align: bottom;
}

